@import '~normalize.css';
@import 'roboto';
@import '@/models/search/style';
@import '@/models/search-result/style';

body {
	font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.container {
	padding: 2rem;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}