doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Avia Tickets
		link(rel='shortcut icon' href='favicon.ico')
	body 
		.container 
			.container-block
				include models/search/index.pug
				include models/search-result/index.pug
			.container-favorite